
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}
body{
    background-image: url(Resort2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.hero-section{
    position: absolute;
    top: 350px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    height: 100%;
}



h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    letter-spacing: 2px;
}

h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    letter-spacing: 5px;
}

h2 span {
    color: #e6b751;
}

p {
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 300;
}

nav{
    background-color: transparent;  
    box-shadow: rgb(255, 255, 255);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: large;
    padding: 20px;
}

nav li{
    height: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

nav a:hover{
    background-color: transparent;
    transition: 0.50s ease;
    transform: scale(1.1);
    overflow: auto;
    border: solid 1px;
    border-radius: 10px;
}
nav a::before{
    transition: 0.3 all 0.5;
}

nav li:first-child{
    margin-right: auto;
    float: hidden;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 248, 248, 0.37);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(231, 231, 231);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}


@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
